:root {
  --blue-color: #4f93de;
}

body {
  background: #fafafa;
}

.form-container {
  max-width: 600px;
  border-radius: 4px;
  margin: 12rem auto;
  height: 50vh;
}

.form-container .form-heading {
  margin: 2.5em auto;
  font-variant: small-caps;
  line-height: 1.5;
  font-size: 1.5em;
  display: grid;
  text-align: center;
  justify-content: center;
}

form {
  padding: 2em;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
}

.icon {
  padding: 0.9em;
  color: var(--blue-color);
  min-height: 1em;
  text-align: center;
}

.input-field {
  width: 70%;
  padding: 1em;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

form button {
  width: 25%;
  height: 3em;
  text-align: center;
  background: var(--blue-color);
  color: white;
  outline: none;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  opacity: 0.9;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  font-size: 1em;
}

.input-field:focus {
  border-bottom: 1px solid var(--blue-color);
}

form button:hover {
  opacity: 1;
}

.form-container .signup-link,
.signin-link {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  color: var(--blue-color);
}

.signup-link h4:hover {
  cursor: pointer;
  border-bottom: 1px solid;
}

.signin-link,
.signup-link {
  column-gap: 0.5em;
}

.signin-link h4:hover {
  cursor: pointer;
  border-bottom: 1px solid;
}

/* Dashboard */

/* Header */

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
}

header .header-title {
  width: 40%;

  display: flex;
  margin: 1em;
  align-items: center;
  justify-content: center;
}

header .header-user {
  width: 60%;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
}

.header-user button {
  margin: 1.5em;
  width: 6em;
  height: 2.5em;
  background: var(--blue-color);
  color: #f2f2f2;
  padding: 0.5em;
}

.header-user .profile-link {
  margin: 1.5em;
  width: 6em;
  height: 1.5em;
  padding: 0.5em;
  text-align: center;
  justify-content: center;
}

.profile-link:hover {
  cursor: pointer;
  border-bottom: var(--blue-color);
}

/* CONTENT */

.content {
  display: grid;
  grid-template-columns: 30% auto;
  margin: 1em auto;
}

a {
  text-decoration: none;
  color: var(--blue-color);
}

@keyframes animate {
  0% {
    opacity: 0.4;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    visibility: hidden;
  }
}

.error {
  display: flex;
  flex-direction: column;
  text-transform: lowercase;
  margin: 0.2em auto;
  padding: 0.5em;
  max-width: 500px;
  border-radius: 0.5em;
  align-items: center;
  justify-content: center;
  background: #ff8484;
  color: #fff;
  outline: none;
  border: none;
  animation: animate 3s ease-in;
}

.success {
  display: flex;
  flex-direction: column;
  text-transform: lowercase;
  margin: 0.2em auto;
  padding: 0.5em;
  max-width: 500px;
  border-radius: 0.5em;
  align-items: center;
  justify-content: center;
  background: #29bb89;
  color: #000000;
  outline: none;
  border: none;
  animation: animate 3s ease-in 0s forwards;
}

/* notes */

.notes-form {
  margin: 1.5em auto;
  row-gap: 1em;
  padding: 1em;
  width: 100%;
}

.notes-form input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #333;
  height: 3em;
  padding: 0.5em;
  outline: none;
}

.notes-form textarea {
  resize: none;
  width: 100%;
  border: none;
  border-bottom: 2px solid #333;
  padding: 0.5em;
  outline: none;
}

.notes-form input:focus {
  border-bottom: 2px solid var(--blue-color);
}
.notes-form textarea:focus {
  border-bottom: 2px solid var(--blue-color);
}

button {
  width: auto;
  border: none;
  outline: none;
  border-radius: 4px;
}
/* repeat(auto-fit, minmax(300px, 1fr)) */
.notes {
  margin: auto;
  padding: 1.5em;
  border-radius: 4px;
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 1em;
  grid-auto-flow: dense;
}

.notes_error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.load_notes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.item {
  margin: auto;
  height: auto;
  width: 100%;
  height: 100%;
  padding: 1em;
  text-align: left;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 2px 2px 1px var(--blue-color);
  transition: all 0.2s ease-in-out;
}

.item:hover {
  transform: scale(1.03);
}

.item h2 {
  margin: 0.4em auto;
  padding: 0.5em auto;
  text-transform: uppercase;
}

.item:hover {
  cursor: pointer;
}

.item p {
  margin: 0.4em auto;
  line-height: 1.5em;
  font-size: 1.3em;
  padding: 0.4em;
  text-transform: lowercase;
}

article span {
  margin: 0.5em auto;
  line-height: 1em;
  font-size: 1.5em;
  color: var(--blue-color);
  background-color: #f2f2f2;
  display: inline-block;
  text-transform: lowercase;
}

article .icons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: flex-end;
  font-size: 1.4em;
  color: var(--blue-color);
}

article p[contenteditable='true']:focus {
  border: 0.1em dotted var(--blue-color);
  overflow: auto;
  max-height: 250px;
  border-radius: 5px;
  outline: none;
}

.notfound {
  position: fixed;
  text-transform: uppercase;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

/*  media queries */
@media screen and (max-width: 600px) {
  .form-container {
    height: auto;
    max-width: 400px;
  }

  form {
    display: flex;
    height: auto;
    flex-direction: column;
    width: 100%;
  }

  .input-field {
    width: 100%;
    margin: auto;
  }

  .input-container {
    display: flex;
    width: 100%;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .content {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .notes {
    display: flex;
    flex-direction: column;
  }

  .notes-form {
    display: flex;
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 0.7em;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue-color);
}
