body {
  background: #fafafa;
}

.form-container {
  max-width: 600px;
  border-radius: 4px;
  margin: 12rem auto;
  height: 50vh;
}

.form-container .form-heading {
  margin: 2.5em auto;
  font-variant: small-caps;
  line-height: 1.5;
  font-size: 1.5em;
  display: grid;
  text-align: center;
  justify-content: center;
}

form {
  padding: 2em;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
}

.icon {
  padding: 0.9em;
  color: #4f93de;
  min-height: 1em;
  text-align: center;
}

.input-field {
  width: 70%;
  padding: 1em;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

form button {
  width: 25%;
  height: 3em;
  text-align: center;
  background: #4f93de;
  color: white;
  outline: none;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  opacity: 0.9;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  font-size: 1em;
}

.input-field:focus {
  border-bottom: 1px solid #4f93de;
}

form button:hover {
  opacity: 1;
}

.form-container .signup-link,
.signin-link {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  color: #4f93de;
}

.signup-link h4:hover {
  cursor: pointer;
  border-bottom: 1px solid;
}

.signin-link {
  column-gap: 0.5em;
}

.signin-link h4:hover {
  cursor: pointer;
  border-bottom: 1px solid;
}

/* Dashboard */

/* Header */

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  border: 2px solid;
}

header .header-title {
  width: 40%;

  display: flex;
  margin: 1em;
  align-items: center;
  justify-content: center;
}

header .header-user {
  width: 60%;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
}

.header-user h3 {
  margin: 1.5em;
  padding: 0.5em;
  width: 20%;
  text-align: center;
}

.header-user button {
  margin: 1.5em;
  padding: 0.5em;
}

/* CONTENT */

.content {
  max-width: 700px;
  border: 1px solid;
  margin: 1em auto;
  height: 90vh;
  text-align: center;
}

a {
  text-decoration: none;
  color: #4f93de;
}
